# Directories
__pycache__
logs/
outputs/
plots/
.vscode/
container/
wandb/
configs/sweeps/
slurmscripts/
user**/**
**user**
*.snakemake
*.triton
*.pytest
.config/
.nv/

# Anything with cache in the name, pytest, ruff, or wandb...
*cache*
__pycache__

# File types
launch.json
.mypy*
*workspace
*.pyc
*.ipynb
*.out
*.sh
*.log
*.idea
